body{
    background: rgb(211, 202, 202);
}

.container {
    margin: 50px auto 10px;
    width: 50%;
}

.main{
    background: #00C851;
}

h1 {
    font-size: 4em;
    background: #007E33;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 2em;
    background: #0099CC;
    padding: 20px;
}

p {
    font-size: 2em;
    padding: 10px;
    margin-left: 10px;
}

#wins, #losses{
    font-size: 1em;
    padding: 0;
    margin-left: 0;
    background: none;
    display: inline;
}