body{
    background: gray;
}

.container {
    margin: 50px auto 10px;
    width: 50%;
}

.main{
    background: rgb(17, 233, 17);
}

h1 {
    font-size: 5em;
    background: rgb(37, 167, 37);
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 3em;
    background: rgb(16, 171, 177);
    padding: 20px;
}

p {
    font-size: 2em;
    padding: 10px;
    margin-left: 10px;
}